#Manhattan{
    background-color: lightpink;
}
#Brooklyn{
    background-color: lightblue;
}
#Queens{
    background-color: lightgreen;
}
#Staten{
    background-color: rosybrown;
}
#Bronx{
    background-color: blueviolet;
}